# Dependencies
node_modules/
packages/*/node_modules/

# Environment configurations (Security)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
packages/*/.env
packages/*/.env.local

# Build outputs
dist/
packages/*/dist/

# IDEs and System files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

*.code-workspace